body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

header {
    background: #333;
    color: #fff;
    padding: 0.5rem 0;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.header-text {
    flex: 1;
}

.header-text h1 {
    margin: 0;
    display: flex;
    padding-left: 50px;
    align-items: center;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

header nav ul li {
    margin: 0 10px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

.header-image {
    text-align: right;
}

.header-image img {
    width: 150px; /* Adjust the width as needed */
    height: auto;
    display: block;
    border-radius: 50%;
}

.image-details {
    text-align: left;
    margin-top: 0.5rem;
    color: #fff;
}

section {
    padding: 2rem;
}

.about-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

footer {
    text-align: center;
    padding: 1rem 0;
    background: #333;
    color: #fff;
}

/* Additional styles for the sections */
#about, #skills, #projects, #resume, #contact {
    margin-bottom: 2rem;
}

h2 {
    margin-top: 0;
}

/* Style the Resume link */
#resume a {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

#resume a:hover {
    background-color: #555;
}

/* Form styling */
form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 0.5rem;
}

form input, form textarea {
    margin-top: 0.5rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    margin-top: 1rem;
    padding: 0.5rem;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #555;
}
